data/amedas

data/kk

data/ky

data/tk

data/ty

data/zip

data/amedas_data.zip

data/harvest_raw.csv

data/harvest_to_dummy.py

tmp/

notebooks/

tk.csv

images/

results/

.ipynb_checkpoints

.mypy_cache

.vscode

pyproject.toml

